@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfbf5;
  --foreground: #4a2e2a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
